<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.covidwars">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/cwlogo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/cwlogo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".loadingscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".instructions">
        </activity>
        <activity android:name=".endgame">
        </activity>
        <activity android:name=".game">
        </activity>
        <activity android:name=".characterSelect">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="landscape">

        </activity>
    </application>

</manifest>